@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
.Input {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.specialColor {
  background: -webkit-linear-gradient(#007FFF, #0059B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 { 
  color: #0A1929;
}
